[tool.black]
line-length = 100
target-version = ['py310']
include = '\.pyi?$'

[tool.isort]
profile = "black"
line_length = 100
multi_line_output = 3

[tool.pytest.ini_options]
minversion = "7.0"
addopts = "-ra -q --cov=hive_zero_core"
testpaths = [
    "tests",
]

[tool.coverage.run]
source = ["hive_zero_core"]
omit = ["tests/*"]
